/* general css */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
  color: #383a3b;
}

a {
  text-decoration: none;
  color: #383a3b;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

.header,
.banner_container,
.banner_bottom_container {
  margin: 50px 100px;
  display: flex;
  justify-content: space-between;
}

/* custom css */

/* header */

/* nav */
nav ul {
  margin-top: 10px;
}

.nav_link {
  margin-right: 25px;
  cursor: pointer;
  font-weight: 600;
}

/* banner */
.banner_container {
  margin-top: 120px;
}

.banner_left {
  margin-top: 50px;
  margin-right: 100px;
}

.banner_left_title,
.banner_left_text {
  margin-bottom: 50px;
}

.banner_left_title {
  font-size: 50px;
  font-weight: 900;
}

.banner_left_btn {
  background-color: #383a3b;
  padding: 15px 30px;
  border-radius: 50px;
  color: #fff;
}

.fa-arrow-circle-right {
  margin-left: 5px;
}

/* banner bottom */
.banner_bottom_container {
  margin: 200px;
  align-items: center;
  padding: 50px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

/* popular */
.popular_head,
.item_container {
  margin: 50px 100px;
}

.popular_head {
  text-align: center;
  font-size: 22px;
}

/* item */
.item_container {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 1px lightgray;
}

.item h3,
.item h4 {
  margin: 20px 0;
}

.
